.cardDetail_comentForm_label {
  color: #333236;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
}

.cardDetail_comentForm_input {
  gap: 10px;
  height: 110px;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  background: #fff;
  position: relative;
  margin-top: 10px;
}

.cardDetail_comentForm_input > input {
  width: 100%;
  height: 50%;
}

.cardDetail_comentForm_input > button {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
