.container {
  display: flex;
  flex-direction: column;
  padding: 20px;

  height: 100%;
  background-color: #fafafa;

  overflow: auto;
}
.goBack {
  display: flex;
  width: 82px;
  gap: 6px;
  margin-bottom: 24px;
  img {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
  }
  > span {
    color: var(--black-black_333236, #333236);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@media (max-width: 767px) {
  .goBack {
    img {
      width: 18px;
      height: 18px;
      transform: rotate(180deg);
    }
    > span {
      font-size: 14px;
    }
  }
}

.dashboardDeleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 62px;
  padding: 20px 95px;
  margin-top: 36px;
  margin-bottom: 28px;
}

@media (max-width: 767px) {
  .dashboardDeleteBtn {
    width: 100%;
    min-width: 282px;
    height: 52px;
    padding: 0;
  }
}