.dashBoardItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  width: 100%;
  height: 70px;
  cursor: pointer;
}

.dashBoardItem_name {
  display: flex;
  align-items: center;
  gap: 16px;
}

.dashBoardItem_circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.font {
  max-width: 150px;
  color: #333236;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 1023px) {
  .dashBoardItem {
    min-width: 200px;
  }
  .font {
    max-width: 100px;
  }
}

@media screen and (max-width: 768px) {
  .dashBoardItem {
    height: 58px;
  }

  .font {
    max-width: 120px;
  }
}
