.navContainer {
  z-index: 2;
  height: 70px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding: 15px;
}

.logoTitle {
  visibility: visible;
}

@media screen and (max-width: 481px) {
  .logoTitle {
    visibility: hidden;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.button {
  background: transparent;
  border: none;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
