.container {
  width: 620px;
  height: 454px;

  padding: 32px 28px;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: #fff;
}
@media (max-width: 1023px) and (min-width: 769px) {
  .container {
    width: 544px;
    height: 454px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    min-width: 284px;
    height: 385px;
    padding: 28px 20px;
  }
}

.mainText {
  color: var(--black-black_333236, #333236);
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .mainText {
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .formContainer {
    gap: 4px;
  }
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .buttonContainer {
    margin-top: 0;
  }
}
