.contents {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.contents > div:last-child {
  width: 100%;
  flex-direction: row-reverse;
}

.modal_buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}
