.modal_container {
  width: 540px;
  padding: 28px 32px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: white;
  border-radius: 8px;
}

.modal_title {
  color: #333236;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 480px) {
  .modal_container {
    width: 330px;
  }
}
