.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

.content_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.content_label {
  color: #333236;
  font-family: Pretendard;
  font-size: 18px;
  font-weight: 500;
}

.content_input {
  width: 100%;
  height: 48px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

.content_input::placeholder {
  color: #333236;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
}

.content_colorList {
  display: flex;
  align-items: center;
  gap: 10px;
}
