.containor {
  position: relative;
  width: 540px;
  height: 174px; /* 250px - gap30px - padding 28px * 2 */
  transform: translate(-32px, -20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalText {
  font-size: 18px;
  font-weight: 500;
  @media (max-width: 744px) and (min-width: 375px) {
    font-size: 16px;
  }
}

.acceptBtn {
  @media (min-width: 745px) {
    position: absolute;
    bottom: -20px;
    right: 28px;
  }
}
