.container {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 100px;
  height: 70px;
  color: var(--black-black_333236, #333236);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid white;
}

.dropdown {
  position: absolute;
  z-index: 1;
  top: 65px;
  right: 20px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border-bottom: 1px solid gray;
    &:hover {
      background-color: var(--violet-light);
    }
  }
}
