.inviteBox_entry > img {
  width: 24px;
  height: 24px;
}

.inviteBox_entry > input {
  font-size: 16px;
}

.inviteBox_entry > input::placeholder {
  color: #9fa6b2;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
}

.inviteBox_entry {
  display: flex;
  align-items: center;
  gap: 30%;
}

.inviteBox_entry li {
  color: #9fa6b2;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
}

.inviteBox_invitList {
  overflow-y: scroll;
}

@media screen and (max-width: 744px) {
  .inviteBox_entry {
    gap: 24%;
  }
}

@media screen and (max-width: 375px) {
  .inviteBox_entry li:last-child {
    display: none;
  }
}
