.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  cursor: pointer;
}

.logoImage {
  align-self: flex-end;
  width: 164.557px;
  height: 189.796px;
  flex-shrink: 0;
}

.logoText {
  width: 200px;
  height: 55.186px;
  flex-shrink: 0;
  @media screen and (max-width: 580px) {
    width: 119.044px;
    height: 33.112px;
  }
}

.welcomeText {
  margin-top: 14px;
  color: var(--black-black_333236, #333236);
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-bottom: 30px;
}

.redirectors {
  color: var(--black-black_333236, #333236);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link {
  color: var(--violet);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
