.imageBox {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoImage {
  width: 164.557px;
  height: 189.796px;
}

.welcomeText {
  margin-top: 5px;
  color: var(--black-black_333236, #333236);
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-bottom: 15px;
}

.redirectors {
  color: var(--black-black_333236, #333236);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.link {
  color: var(--violet);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

@media screen and (max-width: 768px) {
  .logoImage {
    width: 70%;
  }

  .welcomeText {
    margin-top: 0px;
  }
}
