.cardDetail_coment {
  display: flex;
  gap: 10px;
}

.cardDetail_coment_main {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  max-width: 90%;
}

.cardDetail_coment_user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cardDetail_coment_user p:first-child {
  color: #333236;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
}

.cardDetail_coment_user p:last-child {
  color: #9fa6b2;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
}

.cardDetail_coment_text p {
  color: #333236;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.cardDetail_coment_btns {
  display: flex;
  gap: 12px;
}

.cardDetail_coment_btns > button {
  color: #9fa6b2;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  text-decoration-line: underline;
}

.comment_edit {
  width: 100%;
}

.comment_edit form {
  width: 112%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment_edit_btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.comment_edit_btns > button:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: var(--violet);
  border-radius: 5px;
  color: white;
}

.comment_edit_btns > button:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: white;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  color: black;
}

@media (max-width: 768px) {
  .comment_edit form {
    width: 105%;
    flex-direction: column;
    align-items: flex-end;
  }
}
