.cardDetail_tag {
  display: flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
}

.F9EEE3 {
  background: #f9eee3;
  color: #d58d49;
}
.E7F7DB {
  background: #e7f7db;
  color: #86d549;
}
.F7DBF0 {
  background: #f7dbf0;
  color: #d549b6;
}
.DBE6F7 {
  background: #dbe6f7;
  color: #4981d5;
}
