@import "../../../Global.css";

.baseButton {
  display: flex;
  width: 80px;
  height: 32px;
  padding: 9px 31px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--violet, #5534da);
  text-align: center;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
}

.login {
  display: flex;
  height: 50px;
  padding: 14px 236px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--violet, #5534da);
  color: #fff;
  font-size: 18px;
}

@media (max-width: 768px) {
  .login {
    padding: 14px 152px;
  }
}

.loginBlock {
  display: flex;
  height: 50px;
  padding: 14px 236px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--gray-gray_9FA6B2, #9fa6b2);
  color: #fff;
  font-size: 18px;
}

@media (max-width: 375px) {
  .loginBlock {
    padding: 14px 152px;
  }
}

.modalColor {
  display: flex;
  width: 120px;
  height: 48px;
  padding: 14px 46px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--violet, #5534da);
  color: #fff;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .modalColor {
    width: 128px;
    height: 42px;
    padding: 12px 56px;
    font-size: 14px;
  }
}

.modalCancel {
  display: flex;
  width: 120px;
  height: 48px;
  padding: 14px 46px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  background: #fff;
  color: #787486;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .modalCancel {
    width: 128px;
    height: 42px;
    padding: 12px 56px;
    font-size: 14px;
  }
}

.accept {
  display: flex;
  height: 32px;
  padding: 7px 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  color: #fff;
  background: var(--violet, #5534da);
  font-size: 14px;
}

@media (max-width: 1023px) {
  .accept {
    padding: 7px 23px;
  }
}

@media (max-width: 768px) {
  .accept {
    padding: 7px 44px;
    font-size: 12px;
  }
}

.cancel {
  display: flex;
  height: 32px;
  padding: 7px 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--gray-gray_D9D9D9, #d9d9d9);
  color: var(--violet, #5534da);
  background: #fff;
  font-size: 14px;
}

@media (max-width: 1023px) {
  .refuse {
    padding: 7px 23px;
  }
}

@media (max-width: 768px) {
  .refuse {
    padding: 7px 44px;
    font-size: 12px;
  }
}

.delete {
  display: flex;
  height: 32px;
  padding: 7px 29px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--gray-gray_D9D9D9, #d9d9d9);
  color: var(--violet, #5534da);
  background: #fff;
  font-size: 14px;
}

@media (max-width: 768px) {
  .delete {
    padding: 7px 15px;
    font-size: 12px;
  }
}
